<br>
<div class="container">
  <script>
    REGISTRY = { prot_id: "<%= @prot.id %>" }
  </script>
  <h3><%= @prot.title %></h3>
  <%= link_to "add Root", prot_nodes_path(@prot, @prot.nodes.new), method: :POST, class: "btn btn-outline-success" if @prot.nodes.length.zero? %>
    <hr>
    <br>
  <div class="row">

        <div class="col-6">
          <button type="button" id="make_node" class="btn btn-success">create</button>
          <button type="button" id="rename_node" class="btn btn-warning">rename</button>
          <button type="button" id="delete_node" class="btn btn-danger">delete</button>
          <button type="button" id="edit_node" class="btn btn-info">edit</button>
          <button type="button" id="view_node" class="btn btn-info" style="display: none;">show</button>
          <br>
          <br>

          <div id="jstree_nodes" style="overflow: scroll;"></div>
          <br>
        </div>

        <div class="col-6">
          <!-- 本文の閲覧 -->
          <div id="show_node" class="box11" style="word-wrap: break-word; white-space: pre-wrap; min-height: 50px;"></div>
          <!-- 本文の編集 -->
          <div id="edit_form" style="display: none;">
            <input type="hidden" value="" id="nodeIdHidden">
            <div id="saving">
              　
            </div>
            <!-- <textarea id="nodeBodyFrom" class="form-control" rows="80" cols="80"></textarea> -->
            <% @prot.nodes.each do |node| %>
              <textarea id="nodeBodyFrom_<%= node.id %>" class="form-control node-form-invisible" style="display: node;" rows="80" cols="80"></textarea>
            <% end %>
          </div>
        </div>

  </div>
</div>
