<br>
<div class="container">
  <script>
    REGISTRY = { prot_id: "<%= @prot.id %>" }
  </script>

  <h3><%= @prot.title %></h3>

  <div class="row">

        <div class="col-6">
          <div id="jstree_nodes_preview" style="overflow: scroll;"></div>
          <br>
        </div>

        <div class="col-6">
          <!-- 本文の閲覧 -->
          <div id="show_node_preview" class="box11" style="word-wrap: break-word; white-space: pre-wrap; min-height: 50px;"></div>

          <!-- 本文の編集 -->
        </div>

  </div>
</div>
