<h1><%= current_user.name %></h1>
<h2><%= current_user.nick_name %></h2>
<p>email: <%= current_user.email %></p>

<br>
<br>
<h2>全てのプロット</h2>
<br>
<% current_user.prots.each do |prot| %>

  <h4><%= link_to prot.title, prot_path(prot) %></h4>
  <br>
  <hr>


<% end %>
