<div class="whats_prot_top text-center align-self-center">
  <h3>ProtWorksとは？</h3>
  <div class="whats_prot_about text-center ">
    <h5>自作の物語のプロットを保存、共有、評価しあえるアプリです！</h5>
  </div>
</div>
<br>
  <div id="tree_about_prot_works" class="box2">
    <ul>
      <li>
        プロット執筆
          <ul>
            <li>
              専用のエディタ搭載
                <ul>
                  <li>
                    ツリービュー管理
                  </li>
                  <li>
                    直感的なシーンの差し替え・追加
                  </li>
                  <li>
                    物語の構造が一目でわかる
                  </li>
                </ul>
            </li>
          </ul>
      </li>
    </ul>
  </div>

  <div id="tree_about_prot_works2" class="box2">
    <ul>
      <li>
        レビュー機能
          <ul>
            <li>
              プロットを公開
              <ul>
                <li>
                  レビューをもらう
                    <ul>
                      <li>
                        みんなで議論
                      </li>
                    </ul>
                </li>
              </ul>
            </li>

            <li>
              プロットを検索
                <ul>
                  <li>
                    レビューを書く
                      <ul>
                        <li>
                          みんなで議論
                        </li>
                      </ul>
                  </li>
                </ul>
            </li>
          </ul>
      </li>
    </ul>
  </div>
  ↑
  <%= fa_icon "caret-right" %>  をクリック！

  <br>
  <div class="container">
    <div class="row">
      <div class="offset-4 col-2">
        <%= link_to "ログイン", new_user_session_path, class: "btn btn-success" %>
      </div>
      <div class="col-2">
        <%= link_to "サインアップ", new_user_registration_path, class: "btn btn-info" %>
      </div>

    </div>
  </div>
