<div class="container-fluid">
  <div class="row">
      <div class="offset-2 col-4">
        <br><br><br><br><br><br><br><br>

        <h1>ProtWorks</h1>
        <p>be professional for plot</p>
        <p>by working with someone</p>
      </div>
      <div class="col-4">
        <br><br><br><br><br><br><br><br><br><br>
        <h5>すべての人を物語るプロに</h5>
      </div>
  </div>
</div>
<br><br><br><br><br><br><br><br>

<div class="container">
  <div class="offset-1">
    <h5>
      ProtWorksはあなたの「表現する力」を成長させるプラットフォームです。
    </h5>
<br>
    <p>あなたが誰かに伝えたい思い</p>

    <p>
      気持ち・感動・夢・わくわくする企み
    </p>
    <p>
    そのまま表現できるようになりたくありませんか？
    </p>
<br>

    <h5>表現する力</h5>
<br>
    <div class="container">
      <h6>伝える力</h6>
      <p>
        文章・プレゼン・演説・ブログ
      </p>
      <br>
      <h6>物語る力</h6>
      <p>
      映画・ドラマ・演劇・小説・漫画・アニメ・あらゆる脚本
      </p>


    </div>
    <br>
    <br>
    <p>
      皆んなと一緒に力を伸ばしましょう。
    </p>

    <p>まずは思いのままプロットを作成してみましょう！</p>
  </div>
</div>
<br><br><br>
<div class="text-center">
  <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-success" %>
  <%= link_to "サインアップ", new_user_registration_path, class: "btn btn-outline-info" %>
  <br>
  <br>
  <%= link_to "ProtWorksで出来ること", about_path %>
</div>

<br><br><br><br>
