<br><br><br><br><br><br><br>
<div class="text-center">
  <h1>ProtWorksへようこそ！</h1>

  <p>たくさん書いて議論してスキルアップしましょう！</p>

  <br><br><br><br><br>
  <div class="container">
    <div class="row">
      <div class="offset-4 col-2">
        <%= link_to "ログイン", new_user_session_path, class: "btn btn-success" %>
      </div>
      <div class="col-2">
        <%= link_to "サインアップ", new_user_registration_path, class: "btn btn-info" %>
      </div>
    </div>
  </div>
  <br>
  <br>
  <%= link_to "ProtWorksとは？", about_path %>
</div>
