/* .divide_editor_container{
  overflow: hidden;
} */

                                  /* clearfix */
/* .divide_editor_container:before,
.divide_editor_container:after {
    content: "";
    display: table;
}

.boxContainer:after {
    clear: both;
}


.divide_editor_left{
  float: left;
  width: 50%;

}

.divide_editor_right{
  float: left;
  width: 50%;

} */
