<p>こんにちは <%= @resource.email %>さん!</p>

<p>パスワードリセットのリクエストを受け、下記リンクを発行しました。</p>
<p>クリックしてパスワードを変更しましょう</p>

<p><%= link_to 'パスワード変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>身に覚えのない場合、このメールを無視してください</p>
<p>リンクにアクセスしない限り、パスワードは変更されません</p>
