<h1>Prot Index</h1>
<% @prots.each do |prot| %>
  <br>
  <br>
  <p><%= link_to prot.title, prot %>: <%= prot.content%></p>
  <%= link_to "編集", edit_prot_path(prot) %>
  <%= prot.user.nick_name %>
  <hr>
  <br>
<% end %>
