<div id="wrapper">
<br>
  <h1>Prot Pickup!</h1>

  <hr>
  <div class="row">
    <br>
    <% @prots.each do |prot| %>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <%= prot.user.nick_name %>
        <div class="card border-dark mb-3" style="max-width: 18rem;">
          <div class="card-body">
            <%= link_to prot.title, prot , class: "text-dark" %>
          </div>
        </div>
      </div>
    <% end %>
    <br>
  </div>

</div>

<div class="halfCircle">

</div>
