<h1><%= @prot.title %></h1>
<br>
<h3>紹介：</h3>
<p><%= @prot.content %></p>
<hr>
<p>private: <%= @prot.private %></p>
<p>reveiw: <%= @prot.accepts_review %></p>
<hr>
<h2>Nodeへ</h2>
<hr>
<h2>review一覧</h2>
